.main{
    width : 100vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.container{
    width : 80%;
    background-color: white;
    height : 50%;
    margin : 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background-color: #FF4B3E;
    padding: 5px;
}

.form{
    display: flex;
    width :90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.text{
    color : white;
    font-weight: 600;
    font-size: 20px;
    width : 50%;
    display: flex;
    align-items: center;
}

.form_input{
    height : 50px;
    border : 1px solid white;
    border-radius: 5px;
    padding : 5px;
    width : 100%;
    font-weight: 600;
    font-size: 20px;
    outline: none;
    color : white;
    text-align: center;
    margin : 15px 0;

}

.form_input_success{
    height : 50px;
    border : 1px solid white;
    border-radius: 5px;
    padding : 5px;
    width : 100%;
    font-weight: 600;
    font-size: 20px;
    outline: none;
    color : #0ae754;
    text-align: center;
    margin : 15px 0;


}

.btn{
    font-weight: 600;
    font-size: 20px;
    outline: none;
    height : 50px;
    width : 90%;
    border : none;
    cursor: pointer;
    color : #FF4B3E;
    background-color: white;
    transition: all .15s;
    margin : 15px 0;
    border-radius: 5px;
}

.btn:hover{
    box-shadow: 2px 2px 10px 1px black;
    
}

.info{
    width : 90%
}

.group{
    display: flex;
    width : 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

@media only screen and (max-width : 480px) {

    .text{
        font-weight: 300;
        font-size: 12px;
    }

    .form_input{
        height : 25px;
        padding : 2px;
        width : 50%;
        font-weight: 300;
        font-size: 12px;
        margin : 15px 0;
    }

    .form_input_success{
        height : 25px;
        padding : 2px;
        width : 50%;
        font-weight: 300;
        font-size: 12px;
        margin : 15px 0;
    }

    .btn{
        font-weight: 300;
        font-size: 12px; 
        height : 25px;
        width : 90%;
    }
    
}

