.nav{
    height : 70px;
    width : 100vw;
    background-color: white;
}

.container{
    width : 80%;
    height : 100%;
    margin : 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid red;

}

.nav_brand{
    width : fit-content;
    display : flex;
    align-items: center;
    justify-content: left;
    font-weight: 600;
    transition: all .15s;
    cursor: pointer;
    color : #706F6F;
}

.nav_brand:hover{
    color : red;
}

.nav_logo{
    font-size: 50px;
    margin-right: 5px;
}

.nav_menu{
    width : 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_item{
    list-style: none;
}

.nav_link{
    text-decoration: none;
    color : inherit;
    transition: all .15s;
    font-weight:600
}

.nav_link:hover{
    color : red;
    font-weight: 620;
}